[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pymc = "*"
jupyter = "*"
jupyterlab = "*"
arviz = "*"
networkx = "*"
graphviz = "*"
statsmodels = "*"
pywhy-graphs = {file = "https://api.github.com/repos/py-why/pywhy-graphs/zipball/main"}

[dev-packages]

[requires]
python_version = "3.10.8"
