[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pymc = "*"
jupyter = "*"
jupyterlab = "*"
arviz = "*"
networkx = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.11.1"
